[submodule "diego-release"]
	path = diego-release
	url = https://github.com/cloudfoundry-incubator/diego-release
[submodule "greenhouse-install-script-generator"]
	path = greenhouse-install-script-generator
	url = https://github.com/cloudfoundry-incubator/greenhouse-install-script-generator.git
[submodule "loggregator"]
	path = loggregator
	url = https://github.com/cloudfoundry/loggregator.git
[submodule "hakim"]
	path = hakim
	url = https://github.com/cloudfoundry-incubator/hakim
