version: 0.{build}
skip_tags: true
cache: C:\Users\appveyor\AppData\Local\NuGet\Cache
install:
  - echo %PATH%
  - echo %GOPATH%
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - go version
  - go env
build_script:
- git submodule update --init --recursive
- powershell "& .\scripts\replace-version.ps1"
- powershell "& .\greenhouse-install-script-generator\scripts\replace-version.ps1"
- scripts\make.bat
- 7z a output-%APPVEYOR_BUILD_VERSION%-%APPVEYOR_REPO_COMMIT%.zip output/*
test: off
artifacts:
- path: output-*.zip
  name: diego-windows
deploy:
- provider: S3
  access_key_id: AKIAJ3M5ORCAISPRT22Q
  secret_access_key:
    secure: lMbaCusTBxZpIbSzoILyHMBkz+sVH7EwgAqI3sAVYAM92OcIzlzq1IzcB8MmnRvZ
  region: us-east-1
  bucket: diego-windows-release
  artifact: diego-windows
  set_public: true
  on:
    branch: master
clone_folder: c:\diego-windows-release
branches:
  only:
  - master
  - lts-18
  - /appveyor/
